<div class="container-fluid text-center">
<div class="example-container">
    <div class="control-group col-md-4">
    First name       
    <mat-form-field>
      <input matInput >
    </mat-form-field>
    </div>
    <br>
    <div class="control-group col-md-4">
        Last name   
    <mat-form-field>
        <input matInput >
    </mat-form-field>
    </div>
    <br>
    <div class="control-group col-md-4">
       Email   
    <mat-form-field>
      <input matInput >
  </mat-form-field>
  </div>
  <br>
  <div class="control-group col-md-4">
      Password
  <mat-form-field>
    <input matInput >
</mat-form-field>
</div>
<br>
<div class="control-group col-md-4">
    Conform Password 
<mat-form-field>
  <input matInput >
</mat-form-field>
</div>
<br>
  <button mat-button color="primary">SignUp</button>
</div>
  <!-- <form class="form-horizontal">
    <fieldset>

      <div class="control-group col-md-4">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="" class="input-xlarge">
      </div>
      <br>
      <div class="control-group col-md-4">
        <label class="control-label" for="email">E-mail</label>
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
      </div>
      <br>
      <div class="control-group col-md-4">
        <label class="control-label" for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
      </div>
      <br>
      <div class="control-group col-md-4">
        <label class="control-label" for="password_confirm">Password (Confirm)</label>
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
      </div>
      <br>
      <div class="control-group col-md-4">
        <button class="btn btn-success">Sing Up</button>
      </div>

    </fieldset>
  </form> -->

</div>