<div class="container-fluid text-center">
  <h3>{{title}}</h3>
  <div class="example-container">
    <form [formGroup]="formValidation">
      <table align="center">
        <tr>
          <td>
            First name
          </td>
          <td>
            <mat-form-field>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Last name
          </td>
          <td>
            <mat-form-field>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Email
          </td>
          <td>
            <mat-form-field>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Password
          </td>
          <td>
            <mat-form-field>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Conform Password &nbsp;
          </td>
          <td>
            <mat-form-field>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button mat-button color="primary">SignUp</button>
            <a routerLink="/login" routerLinkActive="active" mat-button color="primary">Login</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
